
<p>
  <strong>Sensor ID:</strong>
  <%= @sensor.sens_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @sensor.organization.name %>
</p>

<p>
  <strong>Organization ID:</strong>
  <%= @sensor.organization.org_id %>
</p>

<p>
  <strong>Sens name:</strong>
  <%= @sensor.sens_name %>
</p>
<br>

<br><br><br><br>
<table>
  <thead>
    <tr>
      <th>Data Added</th>
      <th>Value</th>
      <th>Unit</th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |d| %>
      <tr>
        <td><%= d.date_upload %>, <%= link_to 'Destroy this entry', d, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>Value: <%= d.value %></td>
        <td>Unit: <%= d.unit %><td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container-fluid padded">
  <%= link_to "Export to CSV", params.merge(:format => :csv), :class => "btn btn-green" %>
  <%= link_to "Export to XLS", params.merge(:format => :xls), :class => "btn btn-green" %>
  <%= link_to "Export to PDF", params.merge(:format => :pdf), :class => "btn btn-green" %>
</div>
