<p id="notice"><%= notice %></p>

<p>
  <strong>Sensor ID:</strong>
  <%= @sensor.sens_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @sensor.organization.name %>
</p>

<p>
  <strong>Organization ID:</strong>
  <%= @sensor.organization.org_id %>
</p>

<p>
  <strong>Sens name:</strong>
  <%= @sensor.sens_name %>
</p>
<br>

<p>Sensor Data: </p><hr>
<table>
  <thead>
    <tr>
      <th>Data Added</th>
      <th>Value</th>
      <th>Unit</th>
    </tr>
  </thead>

  <tbody>
    <% @sensor.data.each do |d| %>
      <tr>
        <td><%= time_ago_in_words(d.created_at) %> Ago, <%= link_to 'Destroy this entry', d, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>Value: <%= d.value %></td>
        <td>Unit: <%= d.unit %><td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
