<p id="notice"><%= notice %></p>

<p>
  <strong>Org:</strong>
  <%= @organization.org_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<p>
  <strong>Org type:</strong>
  <%= @organization.org_type %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
